@import "../../../../assets/styles/_variable.scss";

.search-form {
  &--append {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }
}

.data-table {
  .arco-table-cell-wrap-value,
  .arco-table-th-item-title {
    white-space: nowrap;
  }

  &--important {
    color: $danger-6;
  }

  &--no-important {
    color: $primary;
  }

  &--use {
    color: $primary;
  }

  &--no-use {
    color: $warning-7;
  }

  &--discard {
    color: $info;
  }
}

.data-preview {
  &--content {
    width: 100%;
    height: 100%;
    border-bottom: {
      left-radius: 26px;
      right-radius: 26px;
    }
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0 15px;
  }
}