$primary: #00B597;
$primary-1: #DCF5ED;
$primary-2: #95E8CF;
$primary-3: #69DBBD;
$primary-4: #42CFAE;
$primary-5: #1FC2A1;
$primary-7: #008F7C;

$color-border-1: rgba(0, 0, 0, .06);
$color-border-2: rgba(0, 0, 0, .15);
$color-border-3: rgba(0, 0, 0, .25);
$color-border-4: rgba(0, 0, 0, .15);
$color-bg-white: #FFF;

$color-fill-1: #F7F8FA;
$color-fill-2: #F2F3F5;
$color-fill-3: #E5E6EB;
$color-fill-4: #C9CDD4;

$color-text-0: rgba(0, 0, 0, .98);
$color-text-1: rgba(0, 0, 0, .85);
$color-text-2: rgba(0, 0, 0, .7);
$color-text-3: rgba(0, 0, 0, .5);
$color-text-4: rgba(0, 0, 0, .4);
$color-text-white: #FFF;

$color-bg-1: #E9EAEB;
$color-bg-2: #FFF;
$color-bg-3: #FFF;
$color-bg-4: #FFF;
$color-bg-5: #FFF;
$color-bg-6: rgba(255, 255, 255, .85);

$warning-1: #FFF7E8;
$warning-2: #FFE4BA;
$warning-3: #FFCF8B;
$warning-4: #FFB65D;
$warning-5: #FF9A2E;
$warning-6: #FF7D00;
$warning-7: #D25F00;

$success-1: #E8FFEA;
$success-2: #AFF0B5;
$success-3: #7BE188;
$success-4: #4CD263;
$success-5: #23C343;
$success-6: #00B42A;
$success-7: #009A29;

$danger-1: #FFECE8;
$danger-2: #FDCDC5;
$danger-3: #FBACA3;
$danger-4: #F98981;
$danger-5: #F76560;
$danger-6: #F53F3F;
$danger-7: #CB272D;

$link-1: #E8F3FF;
$link-2: #BEDAFF;
$link-3: #94BFFF;
$link-4: #6AA1FF;
$link-5: #4080FF;
$link-6: #165DFF;
$link-7: #0E42D2;

$info: #909399;

$success: #67c23a;

$warning: #e6a23c;

$danger: #f56c6c;

$error: #f56c6c;

$black: #484848;

$white: #fff;